// Place all the styles related to the StaticPages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
html {
  font-family: sans-serif;
}

body {
  font-family: inherit;
}

ul {
  padding: 0;
  margin: 0;
}

li.songs {
  float: left;
  display: block;
  margin-right: 10px;
}

a.title {
  display: block;
  float: left;
  margin-right: 20px;
}

a.title:hover {
  color: grey;
}

a:hover {
  cursor: pointer;
}

button:hover {
  cursor: pointer;
}

button.x {
  height: 20px;
  margin-left: 5px;
}

li {
  list-style: none;
}

.notice {
  color: #888888;
  text-align: center;
}

li.song {
  padding: 5px;
  border-top: 1px solid #b6b6b6;
  min-height: 20px;
}

li.tag {
  display: block;
  float: left;
  margin: 10px;

  a {
    padding: 0 5px 5px 0;
    color: blue;
  }

  a:hover {
    text-decoration: underline;
  }
}

input {
  padding: 5px;
}

input.button {
  height: 30px;
  background: #8a98b6;
}

input.button:hover {
  cursor: pointer;
}

li.song:hover {
  cursor: move;
}

ul.tags > li {
    margin: 0;
    padding: 0;
    display: block;
    float: left;
}

ul#finder-dropdown {
  border-top: 1px solid #b6b6b6;
  border-left: 1px solid #b6b6b6;
  border-right: 1px solid #b6b6b6;
  position: absolute;
  background: white;
  left: 188px;
  top: 118px;

  li {
    border-bottom: 1px solid #b6b6b6;
    width: 302px;
    padding: 5px;
  }

  li:hover {
    background-color: #eeeeee;
    cursor: pointer;
  }
}

.page {
  padding-top: 20px;
}

#search-container {
  border: 1px solid #b6b6b6;
  width: 720px;
  float: left;
}

#nav-bar {
  height: 50px;
  background: #8a98b6;
  width: 100%;
  left: 0;
  top: 0;
  position: fixed;
  display: flex;
  justify-content: center;

  a {
    display: block;
    float: left;
    width: 300px;
    height: 35px;
    bottom: 0px;
    text-align: center;
    padding-top: 15px;
    color: white;
    border-radius: 15px 15px 0 0;
  }

  a:hover {
    background-color: #a3aaba;
  }
}

p.error {
  margin: 0;
  height: 25px;
  color: grey;
  font-size: 15px;
  text-align: center;
}

.app-wrapper {
  padding-top: 50px;
}

#drop-container {
  border: 1px solid #b6b6b6;
  width: 500px;
  position: fixed;
  left: 760px;
  min-height: 400px;
  float: left;
  display: flex;
  flex-direction: column;



  ul {
    width: 100%;
    position: relative;
  }

  button.download {
    width: 200px;
    margin: 15px auto;
    display: block;
  }
}

.hover {
  background-color: #dddddd;
}

.clear {
  content: "";
  clear: both;
  display: block;
}

input.text {
  display: block;
  float: left;
  width: 300px;
}

form {
  width: 100%;
  display: flex;
  justify-content: center;
  padding: 10px;
  box-sizing: border-box;
}

button {
  height: 30px;
}

#add-song-page {
  display: flex;
  flex-direction: column;
  justify-content: center;

  form {
    display: flex;
    flex-direction: column;
    justify-content: center;

    input {
      width: 300px;
      margin: auto;
    }

    input[type="submit"] {
      width: 100px;
      margin-top: 5px;
    }
  }

  ul.tag-list {
    width: 400px;
    min-height: 100px;
    border: 1px solid #b6b6b6;
    padding: 5px;
    margin: auto;
  }
}

.song-page {
  display: flex;
  flex-direction: column;
  justify-content: center;

  form {
    display: flex;
    flex-direction: column;
    justify-content: center;

    input {
      width: 300px;
      margin: auto;
    }

    input[type="submit"] {
      width: 100px;
      margin-top: 5px;
    }
  }

  ul.tag-list {
    width: 400px;
    min-height: 100px;
    border: 1px solid #b6b6b6;
    padding: 5px;
    margin: auto;
  }
}
